.calculator{
    border: 2px solid black;
    width: 300px;
    height: 400px;
    background-color: lightgray;
    padding: 10px;

}

.button{
    background-color: purple; 
    color: white;
    font-size: 20px;
    width: 70px;
    height: 50px;
    border: 2px solid black;
}

.textbox{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
}
